.AnimatedBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333;
	inset: 0;
	color: whitesmoke;
	font-size: 10rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: grid;
	place-content: center;
	z-index: 1;
}

.AnimatedBackground::after {
	width: 50%;
	background-image: linear-gradient(30deg, #ffdf12 0%, #112598 100%);
	height: 50%;
	aspect-ratio: 16 16;
	position: absolute;
	content: "";
	border-radius: 50%;
	filter: blur(50px);
	opacity: 0.8;
}

.AnimatedBackground::after {
	left: -25%;
	top: -25%;
	transition: all 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
	animation: aft 60s infinite linear;
}
@keyframes aft {
	0% {
		left: -25%;
		top: -25%;
	}
	25% {
		left: 75%;
		top: -25%;
	}
	50% {
		left: 75%;
		top: 75%;
	}
	75% {
		left: -25%;
		top: 75%;
	}
	100% {
		left: -25%;
		top: -25%;
	}
}
