* {
	margin: 0;
	overflow: hidden;
}

body {
	@property --color1 {
		syntax: "<color>";
		inherits: false;
		initial-value: steelblue;
	}
	@property --color2 {
		syntax: "<color>";
		inherits: false;
		initial-value: crimson;
	}
}
.App {
	width: 100dvw;
	height: 100dvh;
	position: relative;
}
